@import "_variables";
@import "_template";
@import '_mixins';

.footer {
	width: $full-width;

	background-color: #F2F2F2;

	@include mobile {
		height: auto;
		padding: 24px 23px;
	}

	.container {
		@include mobile {
			padding: 0;
		}

		@include tablet {
			padding: 30px 15px;
		}

		@include desctop {
			padding: 30px 50px;
		}

		@include widescreen {
			padding: 70px 135px;
		}
	}

	.footer-info {
		@include mobile {
			flex-direction: column;
		}

		@include tablet {
			display: flex;
			flex-direction: row;
		}
	}
}

.footer-info-about {
	list-style: none;

	@include mobile {
		width: $full-width;
	}

	@include tablet {
		width: 30%;
	}

	.info-about-link {
		display: block;

		@extend %about-phone;
	}

	.about-phone {
		@extend %about-phone;

		.about-phone-link {
			@include font-box($aclonica-font, $font-size-medium, normal, $line-size-large);
			color: $color-text-fourth;

			@include mobile {
				margin-bottom: $font-size-small;
			}
		}
	}
}

.footer-info-address {
	@include mobile {
		width: $full-width;
	}

	@include tablet {
		width: 70%;
	}

	.address-city {
		border-top: 2px solid $bgc-border-primery;

		@include mobile {
			flex-direction: column;
		}

		@include tablet {
			@include flex-container (flex, space-between, baseline);
			flex-direction: row;
		}

		.city-info {
			color: $color-text-fourth;

			@include font-box ($aclonica-font, $font-size-large, normal, 36px);

			@include mobile {
				width: $full-width;
				margin-top: 8px;

				font-size: $font-size-medium;
			}

			@include tablet {
				width: 20%;

				font-size: $font-size-medium;
			}

			@include desctop {
				width: 25%;
			}
		}

		.city-phone {
			.city-phone-link {
				text-decoration: none;

				color: $color-text-fourth;

				font-family: $aclonica-font;

				font-weight: normal;
				line-height: $line-size-large;

				@include tablet {
					font-size: 14px;
				}

				@include desctop {
					font-size: $font-size-medium;
				}
			}
		}

		.city-address {
			margin-top: 18px;
			margin-bottom: 50px;

			color: $color-text-fourth;

			@include font-box ($aclonica-font, $font-size-medium, normal, $line-size-large);

			@include mobile {
				width: 49%;
				margin-top: 12px;
				margin-bottom: 6px;

				font-size: $font-size-small;
				line-height: 20px;
			}

			@include tablet {
				width: 32%;
				margin-bottom: 20px;
			}
		}

		.city-map {
			@include mobile {
				margin-bottom: 5px;
			}

			.city-map-link {
				text-decoration: none;

				color: $colot-text-third;

				@include font-box ($aclonica-font, $font-size-medium, normal, $line-size-large);

				@include mobile {
					font-size: $font-size-small;
					line-height: 20px;
				}
			}
		}
	}
}

.footer-social {
	@include flex-container (flex, space-between, end);
	padding-top: 30px;

	border-top: 2px solid $bgc-border-fourth-light;

	@include mobile {
		flex-direction: column;
	}

	@include tablet {
		flex-direction: row;
	}
}

.footer-social-icon {
	display: flex;

	@include mobile {
		justify-content: space-around;

		width: $full-width;
	}

	@include tablet {
		width: auto;
	}

	.social-icon-list {
		@include tablet {
			margin-right: 53px;
		}

		&:last-child {
			@include mobile {
				margin-right: 0;
			}
		}
	}
}

.footer-social-logo {
	@include mobile {
		width: $full-width;
	}

	@include tablet {
		width: auto;
	}

	img {
		@include mobile {
			display: block;

			width: 105px;
			height: 33px;
			margin: 0 auto;
			margin-top: 21px;

			@include tablet {
				margin-top: 0;
			}
		}
	}
}
