@import "font-family";

$color-text-primery: #FFF;
$bgc-primery: #FFF;
$color-text-seconrary: #191919;
$bgc-border-primery: #22BF95;
$colot-text-third: #22BF95;
$color-text-fourth: #7F7F7F;
$color-text-fourth-light: #B2B2B2;
$bgc-border-fourth-light: #B2B2B2;

$full-width: 100%;

$mobile: 374px;
$tablet: 767px;
$desktop: 1023px;
$widescreen: 1439px;

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;
$line-size-large: 24px;

$acme-font: 'Acme', sans-serif;
$actor-font: 'Actor', sans-serif;
$aclonica-font: 'Aclonica', sans-serif;
