@import "font-family";
@import "_variables";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a{
    text-decoration: none;
    color: $color-text-primery;
}

button {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

ul{
    list-style: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #F2F2F2;
    color: $color-text-primery;
}


.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

@import "header";
@import "burger-menu";
@import "hamburger";

@import "footer";
@import "slick";
